### Example file
### Use with MacPorts as /opt/local/etc/mysql8/my.cnf

# Use default MacPorts settings
!include /opt/local/etc/mysql8/macports-default.cnf

[mysqld]
# https://github.com/Sequel-Ace/Sequel-Ace/issues/113#issuecomment-1600845122
skip-networking=OFF
bind-address=127.0.0.1
# https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password-compatible-connectors
default_authentication_plugin=mysql_native_password
