<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<dict>
<key>Label</key><string>local.org.macports.apache2</string>
<key>ProgramArguments</key>
<array>
	<string>/opt/local/etc/LaunchDaemons/org.macports.apache2/apache2.wrapper</string>
	<string>start</string>
</array>
<key>EnvironmentVariables</key>
<dict>
        <key>XPC_SERVICES_UNAVAILABLE</key>
        <string>1</string>
        <!-- http://sealiesoftware.com/blog/archive/2017/6/5/Objective-C_and_fork_in_macOS_1013.html -->
        <!-- https://trac.macports.org/ticket/68817 -->
        <key>OBJC_DISABLE_INITIALIZE_FORK_SAFETY</key>
        <string>YES</string>
</dict>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>Disabled</key><false/>
</dict>
</plist>
